@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
}

#body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6eff6;
}






#main {
    width: 800px;
    height: 520px;
    box-shadow: 1px 1px 20px #ccdded, -1px -1px 20px #ccdded;
    border-radius: 10px;
    overflow: hidden;
}







#first {
    background-color: white;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstinner {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#first h2 {
    color: hsl(179, 62%, 43%);
    font-size: 26px;
}

#ps {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#p1 {
    color: hsl(71, 73%, 54%);
    font-size: 18px;
    font-weight: 700;
}

#p2 {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}






#combo {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
}

#second {
    background-color: #2bb3b1;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondinner{
    width: 79%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#heading1{
    color: hsl(204, 43%, 93%);
    font-size: 20px;
}

#idk{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#secondinner div h2{
    color: hsl(204, 43%, 93%);
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: 34px;
}

h2 p{
    display: inline;
    font-size: medium;
    color: #63d1d0;
    font-weight: 400;
}

#p3{
    color: hsl(204, 43%, 93%);
    font-size: 17px;
}

#secondinner button{
    width: 98%;
    height: 55px;
    border: none;
    border-radius: 6px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 1px 10px 10px #26a2a0, -1px -1px 10px #26a2a0;
    color: hsl(204, 43%, 93%);
    font-size: 18px;
    outline: none;
}

#third {
    background-color: #4abebd;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thirdinner{
    width: 77%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3{
    font-size: 20px;
    color: hsl(204, 43%, 93%);
}

#paragraphs{
    color: #98eaee;
    font-size: 17px;
    line-height: 22px;
}