@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

#body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

#mainimg {
    height: 100%;
    position: absolute;
    right: 0;
    width: 40%;
}


#items {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#allitems {
    height: 85%;
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

#secondpart {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#secondpart h1 {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 18px;
}

#h2{
    color: hsl(0, 6%, 24%);
    font-weight: 400;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 18px;
}

#p1{
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    font-size: large;
    line-height: 32px;
}

#but{
    position: relative;
    display: flex;

    align-items: center;
}

#input{
    width: 100%;
    height: 60px;
    border-radius: 70px;
    border: 1px solid hsl(0, 36%, 70%);
    outline: none;
    
}

#input::placeholder{
    color: hsl(0, 36%, 70%);
    font-size: 18px;
    position:relative;
    left: 30px;
    font-weight: 300;
}

#button{
    position: absolute;
    right: 0;
    width: 22%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 10px 15px hsl(0, 80%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button:active{
    background: linear-gradient(hsl(0, 44%, 88%), hsl(0, 100%, 88%));
}