* {
    padding: 0;
    margin: 0;
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#things {
    width: 90%;
    height: 90%;
}

#p1 {
    font-size: xx-large;
    color: black;
}

#allthings {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

img {
    width: 300px;
    height: 400px;
    position: relative;
}

.all {
    position: relative;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid red;
    width: 70px;
    height: 90px;
    top: 5px;
    left: 5px;
}

#abs4 {
    width: 120px;
    height: 130px;
}

.sale {
    background-color: red;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    left: 5px;
}

.new {
    background-color: black;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    left: 5px;
}

.diss1 {
    color: red;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    left: 5px;
}

#low {
    background-color: orange;
    text-align: center;
    position: relative;
    top: 10px;
    left: 5px;
    width: 110px;
}



.texts h2{
    color: gray;
    font-weight: 300;
}

.texts div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#p3{
    color: red;
    font-size: large;
}

#p2{
    text-decoration: line-through grey;
    color: gray;
    font-weight: 300;
}