*{
    padding: 0;
    margin: 0;
}


#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#maindiv{
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.divs{
    background-color: #444444;
    border-radius: 10px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.divs div{
    width: 50%;
}

#div1{
    grid-column: 2/3;
}

#div2{
    grid-column: 2/3;
    grid-row: 2/3;
}

#div3{
    grid-column: 3/4;
    grid-row: 2/3;
}

#div4{
    grid-column: 1/2;
    grid-row: 1/2;
}

#div6{
    grid-row: 1/2;
    grid-column: 3/4;
}

#div5{
    grid-row: 2/3;
    grid-column: 1/2;
}