*{
    padding: 0;
    margin: 0;
}

#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#maindiv{
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

.divs{
    background-color: #444444;
    border-radius: 10px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.divs div{
    width: 75%;
}

#div1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#div2{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 40px;
}