@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

#body{
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    height: 53%;
    border-radius: 15px;
    overflow: hidden;
}


#first{
    background-color: #e28525;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second{
    background-color: #016972;
    display: flex;
    justify-content: center;
    align-items: center;
}

#third{
    background-color: #00403f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inners{
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.inners div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

p{
    color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    line-height: 25px;
    font-size: 15px;
}

button{
    width: 75%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    outline: none;
}

#first button{
    color: #e28525;
}

#first button:active{
    color: hsl(0, 0%, 95%);
    border: 2px solid white;
    background-color: #e28525;
    transition: 0.07s;
}

#second button{
    color: #016972;
}

#second button:active{
    color: hsl(0, 0%, 95%);
    border: 2px solid white;
    background-color: #016972;
    transition: 0.07s;
}

#third button{
    color: #00403f;
}

#third button:active{
    color: hsl(0, 0%, 95%);
    border: 2px solid white;
    background-color: #00403f;
    transition: 0.07s;
}

img{
    width: 64px;
}
