@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

#body{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner{
    background-color: white;
    height: 620px;
    width: 390px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#itembox{
    width: 89%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img{
    width: 100%;
    border-radius: 15px;
}

#texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 200px;
    justify-content: center;
    gap: 15px;
}

h1{
    font-size: 29px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p{
    font-size: 18px;
    color: hsl(216, 15%, 48%);
    text-align: center;
}