@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

#inner{
    background-color: hsl(216, 50%, 16%);
    width: 380px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#itembox{
    width: 87%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first{
    width: 100%;
    border-radius: 10px;
}

h1{
    font-size: 26px;
    color: white;
}

#p1{
    color: #8bacda;
    font-size: 18px;
    font-weight: 200;
}

#eth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ethh{
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}

#ethh p{
    color: hsl(178, 100%, 50%);
}

#clock{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#clock p{
    color: #8bacda;
    font-weight: 200;
    font-size: medium;
}

#line{
    height: 0.5px;
    width: 100%;
    background-color: hsl(215, 32%, 27%);
}

#profile{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

#profile img{
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

#profile div{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

#p2{
    color: #8bacda;
    font-weight: 200;
}

#p3{
    color: white;
    font-weight: 200;
}

h1:active{
    color: hsl(178, 100%, 50%);
    transition: 0.2s;
}

#p3:active{
    color: hsl(178, 100%, 50%);
    transition: 0.2s;
}

