#div1{
    background-color: blue;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
}

#div2{
    background-color: blue;
    width: 300px;
    height: 500px;
}