*{
    padding: 0;
    margin: 0;
}

#body{
    height: 100vh;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img{
    width: 400px;
    border-radius: 20px;
}

p{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    color: grey;
}

#div1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

#div2{
    width: 400px;
    
}